<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
    <immediateFlush value="true" />
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value=".\logs\EventTracker.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-level - %5logger - %property{Tear} - %message - %property{Params} - %property{Username} - %property{Study} %newline" />
    </layout>
  </appender>
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <!--<bufferSize value="%property{BufferSize}" />-->
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=shvyjci5ov.database.windows.net;Initial Catalog=MainDB;Persist Security Info=True;User ID=syntactxdbtest_admin@shvyjci5ov;Password=hpzVa*pk72#s!I21prx;MultipleActiveResultSets=True;Encrypt=True" />
    <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Tear],[Message],[Exception],[Username],[Study],[FunctionArgs]) VALUES (@log_date, @thread, @log_level, @logger, @Tear,@message, @exception,@username,@study,@FunctionArgs)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@study" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Study}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@username" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Username}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@FunctionArgs" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.DynamicPatternLayout">
        <conversionPattern value="%property{Params}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@Tear" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.DynamicPatternLayout">
        <conversionPattern value="%property{Tear}" />
      </layout>
    </parameter>
    
  </appender>
  
  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingFileAppender"/>
    <appender-ref ref="AdoNetAppender" />
    <appender-ref ref="DebugAppender" />
  </root>
</log4net>